danielutils>=1.0.39
githooklib >= 1.0.0
requests
fire
# ===== TESTING =====
pytest
pytest-xdist
pytest-asyncio
coverage
# ===== DEV =====
tqdm
twine
pylint
mypy
types-tqdm
types-requests
beautifulsoup4
setuptools
black
